{% if list %}
    <div class="container row">
        <h2 class="col-md-11"> Comments </h2>
        <div class="col-md-1">{% include 'miscosas/element/pagination.html' %}</div>
    </div>
    <div class='simple-list'>
        {% for comment in list %}
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-md-auto"><h5>{{ comment.title }}</h5></div>
                    <div class="col-md-auto"><p class="small"><i>By {{ comment.user.username }} - {{ comment.date }}</i><p></div>
                </div>
                <p>{{ comment.content }}</p>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class='no-content'>No one has written comments yet.</p>
{% endif %}