{% load i18n %}

<div class="flex-container">
<nav id="navbar">
    <a {%if request.path == "/"%}class="disabled-nav-item"{%else%}href="/"{%endif%}>
        {% trans "Home" %}</a>
    <a {%if request.path == "/feeds"%}class="disabled-nav-item"{%else%}href="/feeds"{%endif%}>
        {% trans "Feeds" %}</a>
    <a {%if request.path == "/users"%}class="disabled-nav-item"{%else%}href="/users"{%endif%}>
        {% trans "Users" %}</a>
    <a {%if request.path == "/about"%}class="disabled-nav-item"{%else%}href="/about"{%endif%}>
        {% trans "About" %}</a>

    <!-- User authentication box -->
    <div id="user-panel" class="dropdown">
        {% if user.is_authenticated %}
            <a href="/user/{{user.username}}">{{user.username}}</a>
        {% endif %}
        <button class="btn" type="button" data-toggle="dropdown">
            <i class="material-icons">person</i>
        </button>
        <div class="dropdown-menu">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <a class="dropdown-item" href="/admin">
                        {% trans "Admin" %}</a>
                {% endif %}
                <a class="dropdown-item" href="/logout?next={{request.path}}">
                    {% trans "Log out" %}</a>
            {% else %}
                <a class="dropdown-item" href="/login?next={{request.path}}">
                    {% trans "Log in" context "navbar" %}</a>
                <a class="dropdown-item" href="/signup?next={{request.path}}">
                    {% trans "Sign up" %}</a>
            {% endif %}
        </div>
    </div>
</nav>
</div>