{% load i18n %}

{% if user.is_authenticated %}
    <div class='vote-form'>
        <form method="POST" action="/item/{{ item.pk }}">
            {% csrf_token %}
            <input type="hidden" name='path' value='{{ request.path }}'>

            <button title="{% trans "Upvote" %}" type="submit" name='action' value='upvote'>{{item.upvote_count}}
                {% if user.pk in item.upvoters %}
                    <i class="material-icons">thumb_up</i>
                {% else %}
                    <i class="material-icons-outlined">thumb_up</i>
                {% endif %}
            </button>

            <button title="{% trans "Downvote" %}" type="submit" name='action' value='downvote'>
                {% if user.pk in item.downvoters %}
                    {{item.downvote_count}} <i class="material-icons">thumb_down</i>
                {% else %}
                    {{item.downvote_count}} <i class="material-icons-outlined">thumb_down</i>
                {% endif %}
            </button>

        </form>
    </div>
{% else %}
    <div class='votes'>
        <span>{{item.upvote_count}} <i class="material-icons-outlined">thumb_up</i></span>
        <span>{{item.downvote_count}} <i class="material-icons-outlined">thumb_down</i></span>
    </div>
{% endif %}