body {
    margin: 0px;
    background-color: whitesmoke;
    font-family: "Segoe UI", Arial, sans-serif;
    cursor: default;
}

body.dm {
    background-color: rgb(30, 30, 30);
    color: whitesmoke;
}

body.sm { font-size: 80%; }
body.lg { font-size: 120%; }

.sm h1 { font-size: 2em; }
.sm h2 { font-size: 1.6em; }
.sm h3 { font-size: 1.4em; }
.sm h4 { font-size: 1.2em; }
.sm h5 { font-size: 1.1em; }
.lg h1 { font-size: 3em; }
.lg h2 { font-size: 2.4em; }
.lg h3 { font-size: 2.1em; }
.lg h4 { font-size: 1.8em; }
.lg h5 { font-size: 1.5em; }

#banner {
    height: 15%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0px;
    width: 100%;
    display: block;
    z-index: 1;
}

#banner h1 {
    text-align: center;
    position: absolute;
    color: whitesmoke;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
    text-transform: uppercase;
    font-family: Georgia;
}

#user-panel {
    font-size: 110%;
    background-color: darkslategrey;
    float: right;
    height: 100%;
}
#user-panel > a { color: darkseagreen; }

#footer {
    font-size: 80%;
    background-color: rgba(47, 79, 79, 0.1);
    color: darkslategrey;
    padding: 8px 18px 16px;
    text-align: end;
}
.dm #footer{ color: wheat; }

#navbar {
    background-color: darkslategrey;
    position: fixed;
    top: 15%;
    width: 100%;
    height: 40px;
    z-index: 1;
}

#navbar > a {
    color: darkseagreen;
    padding: 0px 16px;
    font-size: 130%;
    text-transform: uppercase;
    line-height: 1.8;
}
#navbar a:hover{
    color: darksalmon;
    text-decoration: underline;
}
#navbar i {
    color: darkseagreen;
    padding: 0px 8px;
}
.disabled-nav-item {
    color: darksalmon !important;
    text-decoration: None !important;
}

#content {
    margin: 16px;
    margin-top: 200px;
    padding: 16px;
    border: 1px solid darkslategrey;
    border-radius: 12px;
    background-color: rgba(47, 79, 79, 0.1);
}

#documents {
    text-align: right;
    margin-right: 16px;
}

a {
    color: mediumslateblue;
    text-decoration: none; }
a:hover { color: darkslategrey; }

button {
    color: whitesmoke;
    background-color: darkslategrey;
    border-color: darkslategrey;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .2rem .70rem;
    border-radius: .25rem;
    display: inline-block;
}
button:hover, button:hover a { color: salmon; }

.vote-form button { font-size: 24px; }
.list-brief .vote-form * { font-size: 14px; }
.list-brief a, .list-brief p { padding: 0px 16px; }
.list-brief * { vertical-align: middle; }
.list-brief { width: 100%; }
.list-brief > * {
    margin-right: 32px;
    margin-left: 0px;
}
.list-brief form {
    margin-bottom: 0px;
    margin-left: 16px;
}

.item-detailed .votes { margin-bottom: 16px; }

.feed-detailed button { float: right; }
.feed-detailed { margin-top: -16px; }
.feed-detailed .row p { padding: 0px 16px; }

.simple-list hr { margin-top: 0px; }
.simple-list div { margin-left: 8px; }
.dm .simple-list { border: 1px solid rgba(255,255,255,.2) }
.simple-list {
    border: 1px solid rgba(0,0,0,.1);
    border-top: 0px;
    margin-bottom: 16px;
}

.user-brief { padding-left: 16px; }
.user-brief img { margin-bottom: 16px; }
.user-brief p, .user-brief h5 {
    padding-left: 32px;
    vertical-align: middle;
}

.profile-picture {
    border: 1px solid rgba(48, 80, 80, 0.5);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

.page-link {
    background-color: darkslategrey;
    color: whitesmoke;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.page-link.current {
    color: salmon;
    background-color: #2f4f4fcf;
}
a.page-link:hover {
    color: salmon;
    background-color: darkslategrey;
}
.pagination { text-align: left; }
.delete-form { float: right;}

.dm .form-control {
    color: honeydew;
    background-color: rgb(54, 54, 54);
}

#documents i {
    color: whitesmoke;
    background-color: darkslategrey;
    border-color: darkslategrey;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .2rem .70rem;
    border-radius: .25rem;
    display: inline-block;
}
#documents a:hover { color: salmon; }

.dm hr { border-top: 1px solid rgba(255, 255, 255, 0.2) }