body {
    margin: 0px;
    background-color: whitesmoke;
    font-family: "Segoe UI", Arial, sans-serif;
    cursor: default;
}

body.DM {
    background-color: rgb(30, 30, 30);
    color: whitesmoke;
}

body.sm { font-size: 80% }
body.lg { font-size: 120% }

a {
    color: mediumslateblue;
    text-decoration: none; }
a:hover { color: darkslategrey; }

#banner {
    height: 15%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0px;
    width: 100%;
    display: block;
}

#banner h1 {
    text-align: center;
    position: absolute;
    color: white;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
    text-transform: uppercase;
    font-family: Georgia;
}

#user-panel {
    font-size: 110%;
    background-color: darkslategrey;
    float: right;
    height: 100%;
}

#footer {
    font-size: 80%;
    background-color: rgba(47, 79, 79, 0.1);
    color: darkslategrey;
    padding: 8px 18px 16px;
    text-align: end;
}

.DM #footer{ color: wheat; }

#navbar {
    background-color: darkslategrey;
    position: fixed;
    top: 15%;
    width: 100%;
    height: 40px;
}

#navbar > a,i{
    color: darkseagreen;
    padding: 0px 16px;
    font-size: 130%;
    text-transform: uppercase;
    line-height: 1.8;
}
#navbar a:hover{
    color: darksalmon;
    text-decoration: underline;
}
.disabled-nav-item {
    color: darksalmon !important;
    text-decoration: None !important;
}

#content {
    margin: 16px;
    margin-top: 200px;
    padding: 16px;
    border: 1px solid darkslategrey;
    border-radius: 12px;
    background-color: rgba(47, 79, 79, 0.1);
}
