{% load static %}
{% load i18n %}

<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="{% static 'miscosas/favicon.ico' %}"/>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <!-- Material Design Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <!-- Material Design Icons -->
        <link rel="stylesheet" href="{% static 'miscosas/style.css' %}" type="text/css">

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="{{user.profile.theme}} {{user.profile.font_size}}">
        <!-- Banner -->
        <div id="banner" style="background-image: url({% static 'miscosas/banner.jpg' %})">
            <h1> Mis cosas </h1>
        </div>

        <!-- Navigation bar -->
        {% include 'miscosas/element/navbar.html' %}

        <div class="container">
            <!-- Content block -->
            <div id="content" >
                {% block content %}
                {% endblock %}
            </div>

            {% if documents %}
                <div id="documents">
                    <form method="GET" action="{{ request.path }}">
                        <a title="{% trans "RSS Feed" %}" href="/comments.rss" target="_blank">
                            <i class="material-icons">rss_feed</i></a>
                        <button type="submit" name="format" value="xml">XLM</button>
                        <button type="submit" name="format" value="json">JSON</button>
                    </form>
                </div>
            {%endif%}
        </div>

        <!-- Footer -->
        <hr>
        <div id="footer">
            {% with yt='<a href="https://youtube.com">YouTube</a>' %}
            {% with lfm='<a href="https://last.fm">last.fm</a>' %}
            {% with rd='<a href="https://goodreads.com/">Goodreads</a>' %}
            {% with fk='<a href="https://reddit.com">Reddit</a>' %}
            {% with gr='<a href="https://flickr.com">Flickr</a>' %}
            {% with sp='<a href="https://spotify.com">Spotify</a>' %}
            <footer>
                {% blocktrans trimmed %}
        This app uses data provided by {{yt}}, {{lfm}}, {{rd}}, {{fk}}, {{gr}} and {{sp}}.
                {% endblocktrans %}
            </footer>
            {% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}
        </div>
    </body>
</html>