{% load static %}
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS
        <link rel="stylesheet" href="{% static 'miscosas/bootstrap.min.css' %}"> -->

        <link rel="stylesheet" href="{% static 'miscosas/style.css' %}" type="text/css">

        <title>{{ title }}</title>
    </head>
    <body class="{{user.profile.theme}} {{user.profile.font_size}}">
        <!-- Banner -->
        <div id="banner" style="background-image: url({% static 'miscosas/banner.jpg' %})">
            <h1> Mis cosas </h1>
        </div>

        <!-- Navigation bar -->
        <div id="navbar">
            <a href="/">Home</a>
            <a href="/feeds">Feeds</a>
            <a href="/users">Users</a>
            <a href="/about">About</a>
        </div>

        <!-- User authentication box -->
        <div id="user-panel">
            {% if user.is_authenticated %}
                <a href="/user/{{ user.username }}">My page</a>
                <a href="/logout">Log out</a>
            {% else %}
                <a href="/login">Log in</a>
            {% endif %}
        </div>

        <!-- Content block -->
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <div id="documents">
            <form method="GET" action="{{ request.path }}">
                <button type="submit" name="format" value="xml">Download as XLM file</button>
                <button type="submit" name="format" value="json">Download as JSON file</button>
            </form>
        </div>

        <!-- Footer -->
        <hr>
        <div id="footer">
            <footer>This app uses data provided by <a href="https://youtube.com">YouTube</a> and <a href="https://last.fm">last.fm</a>.</footer>
        </div>
    </body>
</html>