{% extends 'miscosas/base.html' %}

{% block content %}
    <h1> Feeds </h1>
    {% if feeds_list %}
        <ul class='simple-list'>
        {% for feed in feeds_list %}
            <li><a href="/feed/{{ feed.pk }}">{{ feed.origin }}: {{ feed.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p class='no-content'>No feeds are available.</p>
    {% endif %}
    <br>
    <h1> Items </h1>
    {% if items_list %}
        <ul class='simple-list'>
        {% for item in items_list %}
            <li><a href="/item/{{ item.pk }}">{{ item.feed.title }}: {{ item.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p class='no-content'>No items are available.</p>
    {% endif %}

    <br>

    <h2>Add new feed</h2>
    <form method="POST" action="/feeds">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
{% endblock %}