{% extends 'miscosas/base.html' %}
{% load i18n %}

{% block title %} {% trans "Login" %} {% endblock %}
{% block content %}
    <h4>{% trans "Log in" context "navbar" %}</h4>
    {% if user.is_authenticated %}
        <p>
            {% with name=user.username %}
            {% blocktrans trimmed %}
                Hello, {{ name }}! You have already signed in.
            {% endblocktrans %}
            {% endwith %}
        </p>
        <a href="/user/{{user.username}}">{% trans "Go to my page." %}</a>
    {% else %}
        <form method="post">
            {% include 'miscosas/element/generic_form.html' %}
            <button type="submit">{% trans "Log in" context "navbar" %}</button>
        </form>
        <a href="/signup">{% trans "Don't have an account yet? Create one here." %}</a>
    {% endif %}
{% endblock %}