{% extends 'miscosas/base.html' %}
{% load i18n %}

{% block title %} {% trans "Sign up" %} {% endblock %}
{% block content %}
    <h4>{% trans "Sign up" %}</h4>
    {% if user.is_authenticated %}
        <p>
            {% with name=user.username %}
            {% blocktrans trimmed %}
                Hello, {{ name }}! You already have an account.
            {% endblocktrans %}
            {% endwith %}
        </p>
        <a href="/user/{{ user.username }}">{% trans "Go to my page." %}</a>
    {% else %}
        <form method="post">
            {% include 'miscosas/element/generic_form.html' %}
            <button type="submit">{% trans "Sign up" %}</button>
        </form>
        <a href="/login">{% trans "Already have an account? Log in here." %}</a>
    {% endif %}
{% endblock %}