{% extends 'miscosas/base.html' %}

{% block title %} Signup {% endblock %}
{% block content %}
    <h4>Sign up</h4>
    {% if user.is_authenticated %}
        <p>Hello, {{user.username}}! You already have an account.</p>
        <a href="/user/{{user.username}}">Go to my page.</a>
    {% else %}
        <form method="post">
            {% include 'miscosas/element/generic_form.html' %}
            <button type="submit">Sign up</button>
        </form>
        <a href="/login">Already have an account? Log in here.</a>
    {% endif %}
{% endblock %}