{% extends 'miscosas/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Signup {% endblock %}
{% block content %}
    <h4>Sign up</h4>
    <form method="post">
        {% csrf_token %}
        {% if form.subject.errors %}
            <ol role="alertdialog">
                {% for error in form.subject.errors %}
                <li role="alert alert-danger">{{ error|escape }}</li>
                {% endfor %}
            </ol>
        {% endif %}

        {{ form|crispy }}
        <br>
        <button type="submit">Sign up</button>
    </form>
    <a href="/login">Already have an accout? Log in here</a>
{% endblock %}