{% extends 'miscosas/base.html' %}
{% load i18n %}

{% block title %}{% trans "About" %} | Mis cosas{% endblock %}
{% block content %}
    <p> {% trans "By Laura González Fernández" %} </p>
    <p>
        {% trans "This web app allows you to manage feeds from different sources in the internet." %}
        {% trans "You can select which feeds you are interested in to track their updates." %}
        {% trans "The <a href='/'>home</a> page shows the items that are most popular with the users and the feeds that have been chosen." %}
        {% trans "Once a feed has been selected and its information recovered, everyone can see the items it contains." %}
        {% trans "If you no longer wish to see feeds in the main page, you can deselect them and they will only be available in the <a href='/feeds'>feeds</a> page." %}
        {% trans "As a registered user, you can also vote the items that you like and add comments to their page." %}
        {% trans "All the votes and comments a user has made will appear in their user page." %}
        {% trans "You can see a list of all the users in the web app <a href='/users'>here</a>." %}
    </p>
{% endblock %}