{% extends 'miscosas/base.html' %}
{% load i18n %}

{% block title %}{{feed.title}} | Mis cosas{% endblock  %}
{% block content %}
    <div class='feed-detailed'>
        <form action='/feeds' method='POST'>
            {% csrf_token %}
            <input type="hidden" name='key' value='{{ feed.key }}'>
            <input type="hidden" name='source' value='{{ feed.source }}'>

        {% if feed.chosen %}
                <button title={% trans "Update data"%} type='submit'><i class="material-icons">refresh</i></button>
            </form>
            <form action='/feed/{{ feed.pk }}' method='POST'>
                {% csrf_token %}
                <button type='submit' name='action' value='unchoose'>{% trans "Unchoose" %}</button>
            </form>
        {% else %}
                <button type='submit'>{% trans "Choose" %}</button>
            </form>
        {% endif %}

        <h1> {{ feed.title }}
            <span class="badge">
                <a title="{% trans "Open in" %} {{feed.source_pretty}}" href="{{ feed.link }}" target="_blank"><i class="material-icons">launch</i></a>
            </span> </h1>

        <span class="row">
            <p class="my-auto">{% trans "Data from"%}: {{ feed.source_pretty }}</p>
            <img src="{{ source_image }}" height="40">
        </span>
        <span class="row">
            <p>{% trans "Total items" %}: {{feed.items.count}}</p>
            <p>{% trans "Score" %}: {{feed.score}}</p>
        </span>

    </div>
    <div class="container row">
        <h2 class="col-md-11"> {% trans "Items" %} </h2>
        <div class="col-md-1">{% include 'miscosas/element/pagination.html' %}</div>
    </div>
    {% include 'miscosas/element/item_list.html' with list=item_list %}
{% endblock %}