{% extends 'miscosas/base.html' %}

{% block title %}{{feed.title}} | Mis cosas{% endblock  %}
{% block content %}
    <div class='feed-detailed'>

        {% if feed.chosen %}
            <form action='/feed/{{ feed.pk }}' method='POST'>
                {% csrf_token %}
                <button type='submit' name='action' value='unchoose'>Unchoose this feed</button>
            </form>
        {% else %}
            <form action='/feeds' method='POST'>
                {% csrf_token %}
                <input type="hidden" name='key' value='{{ feed.key }}'>
                <input type="hidden" name='source' value='{{ feed.source }}'>
                <button type='submit'>Choose this feed</button>
            </form>
        {% endif %}

        <h1> {{ feed.title }}
            <span class="badge">
                <a href="{{ link }}" target="_blank"><i class="material-icons">launch</i></a>
            </span> </h1>

        <p>From: {{ feed.source }}</p>

    </div>
    <div class="container row">
        <h2 class="col-md-11"> Items </h2>
        <div class="col-md-1">{% include 'miscosas/element/pagination.html' %}</div>
    </div>
    {% include 'miscosas/element/item_list.html' with list=item_list %}
{% endblock %}