{% extends 'miscosas/base.html' %}
{% load i18n %}

{% block title %}Mis cosas{% endblock %}
{% block content %}
    <h2> {% trans "Most popular items" %} </h2>
    {% include 'miscosas/element/item_list.html' with list=popular_items %}

    <h2> {% trans "Feeds" %} </h2>
    {% include 'miscosas/element/feed_list.html' with list=chosen_feeds %}

    {% if user.is_authenticated %}
        <h2> {% trans "Your latest votes" %} </h2>
        {% include 'miscosas/element/item_list.html' with list=user_latest_votes %}
    {% endif %}

    {% include 'miscosas/element/feed_forms.html' %}
{% endblock %}