{% extends 'miscosas/base.html' %}

{% block title %}Mis cosas{% endblock %}
{% block content %}
    <h2> Most popular items </h2>
    {% include 'miscosas/element/item_list.html' with list=popular_items %}

    <h2> Feeds </h2>
    {% include 'miscosas/element/feed_list.html' with list=chosen_feeds %}

    {% if user.is_authenticated %}
        <h2> Your latest votes </h2>
        {% include 'miscosas/element/item_list.html' with list=user_latest_votes %}
    {% endif %}

    {% include 'miscosas/element/feed_forms.html' %}
{% endblock %}