{% extends 'miscosas/base.html' %}
{% load i18n %}

{% block title %}{{item.title}} | {{item.feed.title}} | Mis cosas{% endblock %}
{% block content %}
    <div class='item-detailed'>
        <h1> {{ item.title }} <span class="badge">
            <a title="{% trans "Open in" %} {{item.feed.source_pretty}}" href="{{ item.link }}" target="_blank"><i class="material-icons">launch</i></a>
            </span></h1>

        <h4>{% include 'miscosas/element/feed_brief.html' with feed=item.feed %}</h4>

        {% if item.feed.source == 'yt' %}
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ item.key }}"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe><br/><br/>
            {% include 'miscosas/element/vote_form.html' %}
            <p>{{ item.description|safe }}</p>
        {% elif not item.picture %}
            <p>{{ item.description|safe }}</p>
            {% include 'miscosas/element/vote_form.html' %}
        {%else%}
            <img src="{{ item.picture }}"></img>
            <br/><br/>
            {% include 'miscosas/element/vote_form.html' %}
            <p>{{ item.description|safe }}</p>
        {% endif %}

        <br>
        <span class="container row">
            <p class="my-auto">{% trans "Data from"%}: {{ feed.source_pretty }}</p>
            <img src="{{ source_image }}" height="40">
        </span>

    </div>

    <!-- Comments -->
    <hr>
    {% include 'miscosas/element/comment_list.html' with list=comment_list %}

    {% if user.is_authenticated %}
        <div class='comment-form'>
            <h4>{% trans "Add new comment" %}</h4>
            <form method="POST" action="/item/{{ item.pk }}">
                {% include 'miscosas/element/generic_form.html' %}
                <button type="submit" name='action' value='comment'>{% trans "Send" %}</button>
            </form>
        </div>
    {% else %}
    <p>
        <a href="/login?next={{request.path}}">{% trans "Log in" %}</a>
        {% trans "or" %} <a href="/signup?next={{request.path}}">{% trans "sign up" %}</a>
        {% trans "to leave a comment." %}</p>
    {% endif %}
{% endblock %}