{% extends 'miscosas/base.html' %}

{% block title %}{{item.title}} | {{item.feed.title}} | Mis cosas{% endblock %}
{% block content %}
    <div class='item-detailed'>
        <h1> {{ item.title }} <span class="badge">
            <a href="{{ link }}" target="_blank"><i class="material-icons">launch</i></a>
            </span></h1>

        <h4>{% include 'miscosas/element/feed_brief.html' with feed=item.feed %}</h4>

        {% if item.feed.source == 'yt' %}
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ item.key }}"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        {%else%}
            <img src="{{ item.picture }}"></img>
        {% endif %}

        <br><br>
        {% include 'miscosas/element/vote_form.html' %}
        <p>{{ item.description }}</p>
    </div>

    <!-- Comments -->
    <hr>
    {% include 'miscosas/element/comment_list.html' with list=comment_list %}

    {% if user.is_authenticated %}
        <div class='comment-form'>
            <h4>Add new comment</h4>
            <form method="POST" action="/item/{{ item.pk }}">
                {% include 'miscosas/element/generic_form.html' %}
                <button type="submit" name='action' value='comment'>Send</button>
            </form>
        </div>
    {% else %}
    <p><a href="/login?next={{request.path}}">Log in</a> or <a href="/signup?next={{request.path}}">sign up</a> to leave a comment.</p>
    {% endif %}
{% endblock %}