{% extends 'miscosas/base.html' %}

{% block content %}
    <div class='item-detailed'>
        <h1> {{ item.title }} </h1>
        <p>
            {% include 'miscosas/element/vote_form.html' %}
            Upvotes: {{ item.upvote_count }}<br>
            Downvotes: {{ item.downvote_count }}<br><br>
            Link: <a href="{{ link }}">Go to page</a><br>
            Description: {{ item.description }}<br><br>
            <img src="{{ item.picture }}"></img>
        </p>
    </div>

    <h3>Feed:</h3>
    {% include 'miscosas/element/feed_brief.html' with feed=item.feed %}
    <br>

    <!-- Comments -->
    {% include 'miscosas/element/comment_list.html' with list=comment_list %}
    {% if user.is_authenticated %}
        <h2>Add new comment</h2>
        <form method="POST" action="/item/{{ item.pk }}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name='action' value='comment'>Send</button>
        </form>
    {% endif %}
{% endblock %}