{% extends 'miscosas/base.html' %}
{% load i18n %}

{% block title %}{% trans "Users" %} | Mis cosas{% endblock %}
{% block content %}
    <div class="container row">
        <h1 class="col-md-11"> {% trans "Users" %} </h1>
        <div class="col-md-1">{% include 'miscosas/element/pagination.html' %}</div>
    </div>
    {% if user_list %}
        <div class='simple-list'>
        {% for user in user_list %}
            {% include 'miscosas/element/user_brief.html' %}
        {% endfor %}
        </div>
    {% else %}
        <p class='no-content'>{% trans "No users have been created." %}</p>
    {% endif %}
{% endblock %}